.main {
    margin-top: -44vh;
}

.paragraph {
    color: #ffffff;
    font-family: 'product-sans';
    font-size: 145px;
    margin-top: 45vh;
    text-align: left;
    line-height: 160px;
    width: fit-content;
    height: fit-content;
    /* border: 3px solid black; */
    float: right;
    /* border: 3px solid black; */
    
}

.greet { 
    margin: 32vh;
}

.dot {
    height: 32px;
    width: 32px;
    background-color: #0097A7;
    border-radius: 50%;
    display: inline-block;
    /* border: 3px solid black; */
    margin-left: -26px;

}

.image-cr {
    /* border: 3px solid black;  */
    margin-left: -15vh;
    margin-top: 4.5vh;
    position: absolute;
    height: fit-content;
    width: fit-content;
    
}

.image-cb {
    /* border: 3px solid black;  */
    margin-left: 10vh;
    margin-top: -60vh;
    position: absolute;
    height: fit-content;
    width: fit-content;
    
}

/* .back {

    opacity: 0.8;
} */

.backTextUp{
    color: #1f1f1f;
    /* background-color: wheat; */


    font-size: 430px;
    margin-top: 10vh;
    margin-left: 3vh;
    font-family: 'me-r';
    /* overflow-wrap:break-word; */
    width: fit-content;
    /* border: 3px solid yellow; */
    text-align: center;
    position: absolute;
    z-index: -1;
}

.backTextDown{
    color: #1f1f1f;
    /* background-color: wheat; */
    font-size: 500px;
    margin-top: 60vh;
    margin-bottom: -100px;
    margin-left: 3vh;
    z-index: -1;
    position: absolute;
    /* border: 3px solid yellow; */
    width: fit-content;
    height: fit-content;
    font-family: 'me-r';
    /* border: 3px solid black; */
    /* overflow-wrap:break-word; */
}

.name {
    color: #0097A7;
}

.points {
    font-family: 'me-r';
    color: #A8AAAA;
    writing-mode:vertical-rl;
    margin-left: 20vh;
    margin-top: -5vh;
    width: fit-content;
    height: fit-content;
    transform: rotate(180deg);
    /* border: 3px solid black; */
    
}

.pointsOuter {
    /* border: 3px solid black; */
    width: fit-content;
    height: fit-content;
    padding-top: 58vh;
    padding-left: 5vh;  ;
}

.reach {
    font-family: 'me-r';
    color: #A8AAAA;
    font-size: 18px;
    /* text-align: right; */
    writing-mode:vertical-rl;
    /* margin-left: 00px; */
    width: fit-content;
    height: fit-content;
    transform: rotate(180deg);
    /* border: 3px solid black; */
    margin-top: -180vh;
    text-align: right;
    margin-right: 4vh;
}

.tab { 
    margin-top: 40px; 

} 

.reachOuter {
    
    /* border: 3px solid black; */
    margin-left: 140vh;
    width: fit-content;
    height: fit-content;
    float: right; 
    padding-top: 80vh

}
